@import 'materialize';
@import 'variaveis';
@import 'header';
@import 'footer';
@import 'products';

html, body{
	font-family: 'Open Sans', sans-serif;
	color: #636363;
}
.breadcrumb-container{
	margin-bottom:25px;
	margin-top: 30px;
	a{
		color: #636363;
		font-size:13px !important;
	}
	span{
		color: $main-color !important;
		font-size:13px !important;
	}
	span.breadcrumb:before{
		content: none !important;
	}
}

.btn{
	cursor: pointer !important;
}

.btn-primary{
	background-color: $secondary-color;
	font-weight: 800;
	width:100%;
}

a{
	color: #CCC;
}

.mobile-menu, .search-menu {
    font-size: 1.88em;
}
.search-menu{
	i{
		color: $main-color;
	}
}

a.active{
	color: $secondary-color;
}

@media only screen and (min-width: 1025px){
	.container {
	    width: 80%;
	}
}

@media only screen and (min-width: 769px){
	.container {
	    width: 100%;
	}
}

@media only screen and (max-width: 768px){
	.container {
	    width: 100%;
	}
}
@media only screen and (max-width: 340px){
	.top-header .container {
	    display: flex;
	    align-items: center;
	    justify-content: center;
	}
	.top-header .right{
	    float:none !important;
	}
}