.top-header{
	background: #000;
	color: #FFF;
	font-size:0.8em;
	a{
		color: #FFF;
		font-weight: 600;
		text-decoration: underline;
		&:hover{
			text-decoration: none;
		}
	}
	.row{
		margin-bottom:0px;	
		padding: 5px 0;
	}
}
.main-header{
	.form-search{
		display: flex;
		input, button{
			font-size: 0.8em;
			font-weight: 800;
		}
	}
	.input-search{
		border: 1px solid #CCC !important;
		height: 2rem !important;
    	margin: 0px !important;
    	padding:0 5px !important;
    	width:350px !important;
	}
	.btn-search{
		background: $main-color;
		border: none;
		color: #FFF;
		cursor:pointer;
		padding:0 20px;
	}
	nav.menu{
		background: $main-color;
		height: 40px;
		line-height: 40px;
		a{
			font-size: 0.8em;
			font-weight: 800;
			text-transform: uppercase;
		}
	}
}
.main-header-container{
	align-items: center;
	display: flex;
	justify-content: space-between;
}