.product-list-container{
    // padding:0px !important;
}
.icon-viewmode{
    margin-right: 15px;
}

.filter-block{
	border:1px solid #CCC;
	padding:10px;
}
.sort-products{
    font-size:0.88em;
    font-weight: 800;
    text-transform: uppercase;
}
.sort-products form{
    align-items: center;
    display: flex;
    justify-content: space-between;
}
.select-sort{
    display:block !important;
    width: auto !important;
}
h1.category-title {
	color:$main-color;
    font-size: 1.6em;
    margin: 0 0 10px;
}

h2.filter-title {
	color: $main-color;
    font-size: 1em;
    font-weight: 800;
    margin: 0;
    text-transform: uppercase;
}

.filter-item-title{
	color:$secondary-color;
	font-size: .9em;
	font-weight: 800;
	text-transform: uppercase;
}

.filter-item{
    color: #636363;
    a{
        color: #636363;
    }
    li{
        list-style-type: circle !important;
        list-style-position: inside;
    }
}

.order-options {
    border-top: 1px solid #CCC;
    border-bottom: 1px solid #CCC;
    display: table;
    padding: 4px 0;
    width: 100%;
}

ul.product-list {
    display: flex;
	justify-content: space-between;
    flex-wrap: wrap;

    .product-image{
    	border:1px solid #CCC;
    	height:210px;
    	max-width: 210px;
    	overflow: hidden;
    	width:210px;
        img{
            max-width: 210px;
        }
    }
    li{
    	margin-bottom: 30px;

    	div{
    		text-align: center;
    		width: 100%;
    	}
    }

    .product-name{
    	margin-bottom: 30px;
        margin-top: 15px;
    	text-transform: uppercase;    	
    }
    .product-price{
    	color:$main-color;
    	font-weight:800;
    	margin:15px 0;
    }
}


@media only screen and (max-width: 768px){
    $product-width: 155px;
    ul.product-list {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        li{
            max-width: $product-width;
        }

        .product-image{
            height:$product-width;
            max-width: $product-width;
            width:$product-width;
            img{
                max-width: $product-width;
            }
        }
    }
}

@media only screen and (max-width: 340px){
    $product-width: 140px;
    ul.product-list {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        li{
            max-width: $product-width;
        }

        .product-image{
            height:$product-width;
            max-width: $product-width;
            width:$product-width;
            img{
                max-width: $product-width;
            }
        }
    }
}